<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://rightspot-integrations-funcapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0c2cff1b-fbc1-4650-b250-7e7f3b9c3d9e/resourceGroups/rg-mgthirumalesh/providers/Microsoft.Web/sites/rightspot-integrations-funcapp</ResourceId>
    <UserName>$rightspot-integrations-funcapp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://rightspot-integrations-funcapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>